<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">MUMSched</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" th:href="@{/home}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="nav-link" th:href="@{/users/}">
            <i class="fas fa-fw fa-plus"></i>
            <span>Users</span>
        </a>
        <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="nav-link" th:href="@{/entries}">
            <i class="fas fa-fw fa-plus"></i>
            <span>Entry</span>
        </a>
        <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="nav-link" th:href="@{/blocks}">
            <i class="fas fa-fw fa-plus"></i>
            <span>Block</span>
        </a>
        <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="nav-link" th:href="@{/courses}">
            <i class="fas fa-fw fa-plus"></i>
            <span>Courses</span>
        </a>

        <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="nav-link" th:href="@{/students}">
            <i class="fas fa-fw fa-plus"></i>
            <span>Students</span>
        </a>
        <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="nav-link" th:href="@{/faculties/}">
            <i class="fas fa-fw fa-plus"></i>
            <span>Faculty</span>
        </a>

        <a th:if="${#authorization.expression('hasAuthority(''STUDENT'')')}" class="nav-link" th:href="@{/enrollments}">
            <i class="fas fa-fw fa-address-card"></i>
            <span>Register Sections</span>
        </a>
        <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="nav-link" th:href="@{/sections/}">
            <i class="fas fa-fw fa-plus"></i>
            <span>Sections</span>
        </a>
    </li>

    <li th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-users"></i>
            <span>Students</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Student actions:</h6>
                <a class="collapse-item" th:href="@{/students}">All Students</a>
                <a class="collapse-item" th:href="@{/students/add}">Add Student</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
</ul>
</html>