<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:role="Faculty">>
<th:block layout:fragment="content">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Sections</h1>
        <a th:href="@{/sections/create}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Create Section</a>
    </div>
    <!-- End Page Heading -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">All Section</h6>

        </div>
        <div class="card-body">
            <div class="table-responsive" th:if="${not #lists.isEmpty(sections)}">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Course</th>
                        <th>Faculty</th>
                        <th>Block</th>
                        <th>Number Of Seats</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="section : ${sections}">
                        <td th:text="${section.id}"></td>
                        <td th:text="Algorithms"></td>
                        <td th:text="${section.faculty.user.firstName + ' ' + section.faculty.user.lastName}"></td>
                        <td th:text="${section.block.name}"></td>
                        <td th:text="${section.numberOfSeats}"></td>
                        <td th:text="${section.block.startDate}"></td>
                        <td th:text="${section.block.endDate}"></td>
                        <td>
                            <a th:href="@{/sections/edit/{id}(id=${section.id})}"
                               class="btn btn-success btn-circle">
                                <i class="fas fa-edit"></i>
                            </a>
                            <button th:href="@{/sections/delete/{id}(id=${section.id})}" id="unblock"
                                    class="btn btn-danger btn-circle"><i
                                    class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
</html>